*{
  background-color: darkgray;
}

#form{
    display: flex;
    flex-direction: column;
    width: 150px;
    font-size: 26px;
    color:white;
}

#botao{
    color:white;
    border-color: white;
}

h1{
    color:white;
}

